.page_movie{
	height: auto;
}

.page_movie img{
	position: relative;
	display: inline-block;
	width:100%;
	height: auto;
}
.page_movie video{
	position: absolute;
	top:0px;
	left:0px;
	display: inline-block;
	width:100%;
	height: auto;
}